.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}



.icon-logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
}




.toggle-theme-btn {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-top: 0.5rem;
  margin-right: -2rem;
}

.ant-layout-sider-zero-width-trigger {
  margin-top: -4rem;
  height: 4rem !important;
  width: 3.5rem !important;
  margin-right: -1rem !important;
  display: flex;
}
.ant-layout-sider-zero-width-trigger .anticon-bars{
    font-size: 2rem;
}

.layout-dark{
  background-color: RGB(0, 21, 37);
}

.siderbar{
  height: 500px;
}

.container-body-light{
  background-color: white;
  border-radius: 10px;
  padding: 24px 24px 24px;
  padding: 0.5rem 1em 0.5rem 1rem;
}

.container-body-dark{
  background-color: RGB(0, 21, 37);
  padding: 24px 24px 24px;
  border-radius: 10px;
  padding: 0.5rem 1em 0.5rem 1rem;
}
